# Python
__pycache__/
*.py[cod]
*.pyo
.mypy_cache/
.pytest_cache/

# Virtualenv
.venv/
venv/
env/

# Django
# *.sqlite3  # Comentado para subir db de desarrollo
media/
staticfiles/

# Env
# .env  # Comentado para subir config de desarrollo
# .env.*
